/*box sizing wordt gebruikt om aan te geven wat de machine moet laten zien*/

* {
    box-sizing: border-box;
}
/*flexbox wordt gebruikt om het op de goede plek te krijgen binnen de pagina*/

body {
    display: flex;
    flex-flow: row wrap;
    background: #FFFFFF;
    padding: 20px;
    font-family: Trebuchet, Verdana, sans-serif;
}
body > header {
    order: 1;
    width: 100%;
    background: #339900;
    padding: inherit ;
    border-radius: 50px;
    border: 2px solid black;
}
header> img {
    width: 15em;
    height: 15em;
    float: left;
    padding: 10px;
    transition: .5s;
}
main {
    order: 3;
    width: 40em;
    flex-grow: .5;
    background: white;
    padding: inherit;
    border-radius: 50px;
    border: 2px solid black;
}
body> section {
    order: 4;
    width: 20em;
    background: beige;
    padding: inherit;
    color: black;
    border-radius: 50px;
    border: 2px solid black;
}
aside {
    order: 2;
    width: 20em;
    background: beige;
    padding: inherit;
    color: black;
    border-radius: 50px;
    border: 2px solid black;
}
body> footer {
    order: 5;
    display: flex;
    flex-flow: row wrap;
    background: beige;
    padding: inherit;
    border-radius: 50px 50px 15px 15px;
    border: 2px solid black;
}
body> footer> section {
    padding: 10px;
    width: 100%;
}
body> footer> p {
    padding: 10px;
    width: 100%;
    box-shadow: 0 0 2em .1em rgba(255, 255, 0, 25);
}
@media all and (max-width: 1000px) {
    body> section {
        flex: 1 100%;
    }
    aside {
        flex: 1 100%;
    }
}
/* hij geeft alle media weer bij een minimale beeldscherm width van 800px*/

@media all and (min-width: 800px) {
    body> footer {
        flex-flow: nowrap
    }
}
nav li {
    display: inline-block;
    list-style-type: none;
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    padding: .6em;
    color: #e74c3c;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #e74c3c, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}
li {
    list-style-type: none;
}
a {
    color: blue;
    width: 20em;
}
a:hover {
    color: black;
}
h1 {
    color: navy;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}
header + footer {
    background-color: #339900;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: 0.5px solid black;
}
input[type="search"] {
    border-color: palevioletred;
}
fieldset {
    display: flex;
    flex-direction: column;
    color: black;
    font-family: Trebuchet, Verdana, monospace;
}

.is-invisible{
    display: none;
}
.is-visible {
    display: block;
}

picture {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
video{
    display: block;
    margin: 0 auto;

}
.related{
    width: 20em;
    background: beige;
    padding: inherit;
    color: black;
    border-radius: 50px;
    border: 2px solid black;
